---
layout: archive
---

<p>I started blogging for <a href="https://mitadmissions.org/">MIT Admissions</a> in September 2019. Most of these posts are cross-posted from <a href="https://mitadmissions.org/blogs/author/ameredit/">there</a>. I've also written for <a href="https://www.technologyreview.com/">MIT Technology
Review</a> in the past. Once I graduate from MIT in June 2021, new posts here will be original and (probably mostly) not crossposted elsewhere!</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
